@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");
body {
  margin: 0px;
}

.diw-logo {
  width: 160px;
  height: 160px;
  margin-right: 10px;
  border: 6px solid red;
  border-radius: 95px;
  -webkit-box-shadow: 0px 0px 30px 0px #ff0000;
          box-shadow: 0px 0px 30px 0px #ff0000;
  position: absolute;
  top: -86px;
  left: 194px;
}

.login {
  border: 5px solid #ffffff;
  -webkit-box-shadow: 0px 0px 30px 0px #92cc8391;
          box-shadow: 0px 0px 30px 0px #92cc8391;
  background: #293e40;
  width: 567px;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-x: hidden;
}

html {
  font-family: "Gilroy", arial;
  background: #546666;
  overflow: hidden;
}

label,
input {
  display: block;
  width: 55%;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 12px;
  border-radius: 25px;
}

label {
  margin-bottom: 8px;
  font-size: 27px;
  color: white;
  margin-top: 13px;
}

label:nth-of-type(2) {
  margin-top: 20px;
}

input::-webkit-input-placeholder {
  color: rgba(184, 179, 179, 0.678);
}

input:-ms-input-placeholder {
  color: rgba(184, 179, 179, 0.678);
}

input::-ms-input-placeholder {
  color: rgba(184, 179, 179, 0.678);
}

input::placeholder {
  color: rgba(184, 179, 179, 0.678);
}

.submit {
  padding-top: 15px;
  background: #abd7abb3;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

.container input.submit:hover {
  -webkit-transition: 1.25s;
  transition: 1.25s;
  cursor: pointer;
  background: #66df66;
  -webkit-box-shadow: 0px 0px 30px 0px #66df66;
          box-shadow: 0px 0px 30px 0px #66df66;
}

.container {
  padding-bottom: 60px;
}

.light-me-up {
  font-size: 15px;
  padding-left: 20px;
}

.light-me-up:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 30px 0px #fffffe85;
          box-shadow: 0px 0px 30px 0px #fffffe85;
}

.logo {
  padding-top: 30px;
  position: relative;
}

.error {
  border: 2px solid #ff000087;
  -webkit-box-shadow: 0px 0px 30px 0px #ff0000b5;
          box-shadow: 0px 0px 30px 0px #ff0000b5;
}

.color-spliter {
  width: 100%;
  background: #377669;
  height: 106px;
}

label[for="instanceName"] {
  margin-top: 0px;
}

.visual-nav {
  height: 60px;
  width: 100%;
  background: #293e40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snLogo {
  width: 200px;
}

.options {
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 5px;
  display: list-item;
  padding: 20px;
  list-style-type: none;
  color: white;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-align: center;
}

.options:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background: #429553;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  background-color: #74957b;
  /* border-right: solid 2px black; */
  border-right: solid 2px white;
  display: none;
}

.content {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  overflow-x: hidden;
}

.main-content {
  overflow: auto;
  width: 100%;
}

.spacer {
  width: 100%;
  height: 100%;
  background: #293e40;
}

.error-msg {
  margin-top: 68px;
  margin-bottom: 0px;
  display: hidden;
  opacity: 0;
  font-size: 20px;
  color: red;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.error-box {
  -webkit-box-shadow: 0px 0px 30px 0px #f30404fa;
          box-shadow: 0px 0px 30px 0px #f30404fa;
}

.no-hover {
  pointer-events: none;
}

.task-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid green;
}

.project-heading {
  margin-left: 200px;
  font-size: 2rem;
}

.button-wrapper {
  margin: 30px;
}

.validate-task-btn {
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
  background: #293e40;
  border: 0.2rem solid #293e40;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  padding: 6px 20px 6px 20px;
}

.validate-task-btn:hover {
  cursor: pointer;
  background: #409151;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.2rem solid #409151;
  color: white;
  -webkit-box-shadow: 0px 0px 30px 0px #92cc83e1;
          box-shadow: 0px 0px 30px 0px #92cc83e1;
}

section.projectOne {
  margin-left: 30px;
  padding-bottom: 50px;
}

.logout {
  display: none;
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logout:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  color: red;
}

.task-info {
  font-weight: bold;
  font-size: 1.1rem;
}

.req-for-task {
  font-size: 18px;
}

.grey-me {
  background: grey;
}

.not-validated {
  display: none;
  background: #ff000038;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 6px 12px 6px 12px;
  border: 1px solid red;
}

.validated {
  display: none;
  background: #0368038c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 10px 12px 10px 12px;
}

.clicked {
  background: #429553;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.login-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.optional {
  color: #dd2323;
  border-top: 1px solid red;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid red;
}

.welcome-heading {
  font-size: 2rem;
  text-align: center;
}

.before-info {
  font-size: 1.3rem;
  text-align: center;
}

.steps {
  list-style-type: none;
  margin-bottom: 35px;
}

.all-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step-img {
  width: 92%;
  height: 420px;
  padding: 3px;
  border-radius: 4px;
  border: 3px solid black;
}

.additional-info {
  color: #429553;
}

.redirections {
  color: #1e8f36;
  padding: 0px 9px 0px 9px;
  font-weight: bold;
  background: #80808040;
  border-radius: 22px;
  border: 1px solid #80808000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.redirections:hover {
  border: 1px solid #68a56f;
  color: white;
  background: #68a56f;
}

a {
  text-decoration: none;
}

.currentInstance {
  color: white;
  font-size: 20px;
}

.color-instance {
  color: #83c661;
  font-weight: bold;
}

.project-agenda {
  margin-left: 40px;
  font-size: 20px;
  /* border-bottom: 1px solid green; */
  color: #0d8124;
  /* border-top: 2px solid #429553; */
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 2px solid #429553;
  border-top: 2px solid green;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 3px;
}

.cors-steps-img {
  padding: 10px 14px 10px 14px;
  border: 1px solid #d9c8c800;
  border-radius: 20px;
  color: white;
  background: #74957b;
  margin-right: 10px;
}

.steps-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cors-steps {
  margin-right: 5px;
  font-size: 1.17em;
  font-weight: bold;
}

.tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-tech {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: bold;
}

.technologies {
  list-style-type: none;
  margin: 10px;
}

.tech-img {
  width: 40px;
  height: 40px;
  margin: -3px;
}

.welcome-page {
  margin-left: 30px;
  padding-bottom: 50px;
  margin-right: 30px;
}

@media (min-width: 1320px) and (max-width: 1550px) {
  .login {
    width: 456px;
  }
  .diw-logo {
    width: 130px;
    height: 130px;
    top: -70px;
    left: 161px;
  }
  label,
  input {
    padding: 7px;
    font-size: 18px;
  }
  .container {
    padding-bottom: 30px;
  }
  .submit {
    padding-top: 7px;
    font-size: 18px;
  }
  .options {
    font-size: 1rem;
  }
  .validate-task-btn {
    font-size: 1rem;
  }
  .req-for-task {
    font-size: 15px;
  }
  .task-info {
    font-size: 1rem;
  }
  .project-agenda {
    font-size: 18px;
  }
}

@media all and (max-width: 1319px) {
  .options {
    font-size: 0.9rem;
    letter-spacing: 3px;
  }
  .validate-task-btn {
    font-size: 1rem;
    padding: 3px 12px 3px 12px;
  }
  .project-agenda {
    font-size: 16px;
  }
  .currentInstance {
    font-size: 18px;
  }
}

@media all and (max-width: 1080px) {
  .options {
    font-size: 0.7rem;
    letter-spacing: 2px;
    padding: 17px;
  }
  .snLogo {
    width: 180px;
  }
}

@media all and (max-width: 830px) {
  .options {
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding: 15px 0px 15px 0px;
  }
}
/*# sourceMappingURL=style.css.map */