@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");
body {
  margin: 0px;
}

.diw-logo {
  width: 160px;
  height: 160px;
  margin-right: 10px;
  border: 6px solid red;
  border-radius: 95px;
  -webkit-box-shadow: 0px 0px 30px 0px #ff0000;
          box-shadow: 0px 0px 30px 0px #ff0000;
  position: absolute;
  top: 200px;
  left: 970px;
}

.login {
  border: 5px solid #ffffff;
  -webkit-box-shadow: 0px 0px 30px 0px #92cc8391;
          box-shadow: 0px 0px 30px 0px #92cc8391;
  background: #293e40;
  width: 567px;
  text-align: center;
  margin: auto;
  border-top-left-radius: 60px;
  margin-top: 115px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-x: hidden;
}

html {
  background: #546666;
  overflow: hidden;
}

label,
input {
  display: block;
  width: 55%;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 12px;
  border-radius: 25px;
}

label {
  margin-bottom: 8px;
  font-size: 27px;
  color: white;
  margin-top: 13px;
  font-family: 'Work Sans', sans-serif;
}

label:nth-of-type(2) {
  margin-top: 20px;
}

input::-webkit-input-placeholder {
  color: rgba(184, 179, 179, 0.678);
}

input:-ms-input-placeholder {
  color: rgba(184, 179, 179, 0.678);
}

input::-ms-input-placeholder {
  color: rgba(184, 179, 179, 0.678);
}

input::placeholder {
  color: rgba(184, 179, 179, 0.678);
}

.submit {
  padding-top: 15px;
  background: #abd7abb3;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

.container input.submit:hover {
  -webkit-transition: 1.25s;
  transition: 1.25s;
  cursor: pointer;
  background: #66df66;
  -webkit-box-shadow: 0px 0px 30px 0px #66df66;
          box-shadow: 0px 0px 30px 0px #66df66;
}

.container {
  padding-bottom: 60px;
}

.light-me-up {
  font-size: 15px;
  padding-left: 20px;
}

.light-me-up:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 30px 0px #fffffe85;
          box-shadow: 0px 0px 30px 0px #fffffe85;
}

.logo {
  padding-top: 30px;
}

.error {
  border: 2px solid #ff000087;
  -webkit-box-shadow: 0px 0px 30px 0px #ff0000b5;
          box-shadow: 0px 0px 30px 0px #ff0000b5;
}

.color-spliter {
  width: 100%;
  background: #377669;
  height: 106px;
}

label[for="instanceName"] {
  margin-top: 0px;
}

.visual-nav {
  height: 60px;
  width: 100%;
  background: #293e40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snLogo {
  width: 200px;
}

.options {
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 5px;
  display: list-item;
  padding: 20px;
  list-style-type: none;
  color: white;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.6s  ease-in-out;
  transition: all 0.6s  ease-in-out;
  -webkit-transition: all 0.2s  ease-out;
  transition: all 0.2s  ease-out;
  text-align: center;
}

.options:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background: #429553;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  background-color: #74957b;
  /* border-right: solid 2px black; */
  border-right: solid 2px white;
  display: none;
}

.content {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}

.main-content {
  overflow: auto;
  width: 100%;
}

.spacer {
  width: 100%;
  height: 100%;
  background: #293e40;
}

.error-msg {
  margin-top: 68px;
  margin-bottom: 0px;
  display: hidden;
  opacity: 0;
  font-size: 20px;
  color: red;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.error-box {
  -webkit-box-shadow: 0px 0px 30px 0px #f30404fa;
          box-shadow: 0px 0px 30px 0px #f30404fa;
}

.no-hover {
  pointer-events: none;
}

.task-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid green;
}

.project-heading {
  margin-left: 200px;
  font-size: 2rem;
}

.button-wrapper {
  margin: 30px;
}

.validate-task-btn {
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
  background: #293e40;
  border: 0.2rem solid #293e40;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "GilroySemiBold";
  font-size: 1.3rem;
  padding: 6px 20px 6px 20px;
}

.validate-task-btn:hover {
  cursor: pointer;
  background: #409151;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.2rem solid #409151;
  color: white;
  -webkit-box-shadow: 0px 0px 30px 0px #92cc83e1;
          box-shadow: 0px 0px 30px 0px #92cc83e1;
}

section.projectOne {
  margin-left: 30px;
  font-family: 'Work Sans', sans-serif;
}

.logout {
  display: none;
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logout:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  color: red;
}

.task-info {
  font-weight: bold;
  font-size: 1.1rem;
}

.req-for-task {
  font-size: 18px;
  font-weight: bold;
}

.grey-me {
  background: grey;
}

.not-validated {
  display: none;
  background: #ff000038;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 6px 12px 6px 12px;
  border: 1px solid red;
}

.validated {
  display: none;
  background: #0368038c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 10px 12px 10px 12px;
}

.clicked {
  background: #429553;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

@media all and (max-width: 1920px) {
  .diw-logo {
    left: 880px;
  }
}

@media (min-width: 1500px) and (max-width: 1550px) {
  .login {
    margin-top: 35px;
  }
  .diw-logo {
    left: 685px;
    top: 120px;
  }
  label, input {
    padding: 7px;
    font-size: 18px;
  }
  .container {
    padding-bottom: 30px;
  }
  .submit {
    padding-top: 7px;
    font-size: 18px;
  }
}

@media all and (max-width: 1440) {
  .diw-logo {
    left: 632px;
  }
}

@media (min-width: 1346px) and (max-width: 1366px) {
  .diw-logo {
    left: 605px;
  }
}

@media (min-width: 1280px) and (max-width: 1300px) {
  .diw-logo {
    left: 560px;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .diw-logo {
    left: 430px;
  }
}

@media all and (max-width: 820px) {
  .diw-logo {
    left: 320px;
  }
}

@media all and (max-width: 770px) {
  .diw-logo {
    left: 300px;
  }
}
/*# sourceMappingURL=style.css.map */